<section class="block container">
  <header class="block__header">
    <h2 class="">Host On The Cloud to Keep Growing</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, ipsam.</p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor error sapiente officia eum a quidem sequi doloremque ab quos laborum.</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/easy@1x.webp 1x">
      <source type="image/jpg" srcset="images/easy.jpg">
      <img class="feature__image" src="images/easy.jpg" alt="" width="570px"/>
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor error sapiente officia eum a quidem sequi doloremque ab quos laborum.</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/easy@1x.webp 1x">
      <source type="image/jpg" srcset="images/easy.jpg">
      <img class="feature__image" src="images/easy.jpg" alt="" width="570px"/>
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor error sapiente officia eum a quidem sequi doloremque ab quos laborum.</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/easy@1x.webp 1x">
      <source type="image/jpg" srcset="images/easy.jpg">
      <img class="feature__image" src="images/easy.jpg" alt="" width="570px"/>
    </picture>
  </article>
</section>