<section class="block block--dark block--skewed-right block-showcase">
  <header class="block block__header">
    <h2>User-Friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <source type="image/webp">
      <img src="images/ipad.png" alt="" width="570">
    </picture>
      <ul class="list">
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#snap"></use>
              </svg>        
            </div>
            <div class="media__body">
              <h3 class="media__title showcase">Easy Start & Managed Updates</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto error dicta veritatis tempora reprehenderit laborum quae ad sed porro voluptate! Voluptatum ab dignissimos tenetur nisi.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#snap"></use>
              </svg>        
            </div>
            <div class="media__body">
              <h3 class="media__title showcase">Easy Start & Managed Updates</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto error dicta veritatis tempora reprehenderit laborum quae ad sed porro voluptate! Voluptatum ab dignissimos tenetur nisi.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#snap"></use>
              </svg>        
            </div>
            <div class="media__body">
              <h3 class="media__title showcase">Easy Start & Managed Updates</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto error dicta veritatis tempora reprehenderit laborum quae ad sed porro voluptate! Voluptatum ab dignissimos tenetur nisi.</p>
            </div>
          </div>
        </li>
      </ul>
  </div>
</section>